AWSTemplateFormatVersion: '2010-09-09'
Description:  Cloud2Gether Documentation Cloud Formation Stack

Parameters:
  Environment:
    Type: String
    Description: "The enviroment can be: dev, prod"
    Default: dev
    AllowedValues:
      - dev
      - prod

Conditions:
    CreateProdResources: !Equals [!Ref Environment, prod]

Resources:
  DocsWebSiteBucket:
    Type: AWS::S3::Bucket
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
        BucketName: !Sub cloud2gether-documentation-${Environment}
        VersioningConfiguration:
          Status: Enabled
        BucketEncryption:
          ServerSideEncryptionConfiguration:
              - ServerSideEncryptionByDefault:
                  SSEAlgorithm: AES256
        OwnershipControls:
          Rules:
            - ObjectOwnership: BucketOwnerPreferred
        LoggingConfiguration:
            DestinationBucketName: !ImportValue "BasicLogBucketConfig-ServerAccessLoggingBucket"
            LogFilePrefix: "documentation-accesslog"
        PublicAccessBlockConfiguration:
            BlockPublicAcls: false
            BlockPublicPolicy: false
            IgnorePublicAcls: false
            RestrictPublicBuckets: false
        WebsiteConfiguration:
            IndexDocument: index.html
            ErrorDocument: 404.html
        CorsConfiguration:
            CorsRules:
              - AllowedHeaders:
                - "*"
                AllowedMethods:
                - GET
                AllowedOrigins:
                 - "https://*.cloud2gether.com"


#************************************Web Site Cloud2Gether***************************************************
  DocsWebSiteReadPolicy:
    Type: 'AWS::S3::BucketPolicy'
    Properties:
      Bucket: !Ref DocsWebSiteBucket
      PolicyDocument:
        Statement:
          - Sid: PublicReadGetObject
            Action: 's3:GetObject'
            Effect: Allow
            Resource: !Sub 'arn:aws:s3:::${DocsWebSiteBucket}/*'
            Principal: '*'
          - Sid: AllowSSLRequestsOnly
            Action: 's3:*'
            Effect: Deny
            Resource: !Sub 'arn:aws:s3:::${DocsWebSiteBucket}/*'
            Principal: "*"
            Condition:
              Bool: { "aws:SecureTransport": "false" }
          - Action: [ 's3:PutObject' ]
            Effect: Allow
            Resource: !Sub 'arn:aws:s3:::${DocsWebSiteBucket}/*'
            Principal: {"AWS": "arn:aws:iam::000333743150:role/CodePipelineServiceRole"}
            Condition: {
                StringEquals: {
                    "s3:x-amz-acl": "bucket-owner-full-control"
                }
            }
          - Action: [ 's3:PutObjectAcl','s3:GetObjectAcl', 's3:GetObjectVersionAcl', 's3:PutObjectVersionAcl' ]
            Effect: Allow
            Resource:
              - !Sub 'arn:aws:s3:::${DocsWebSiteBucket}'
              - !Sub 'arn:aws:s3:::${DocsWebSiteBucket}/*'
            Principal:  {"AWS": "arn:aws:iam::000333743150:role/CodePipelineServiceRole"}

#************************************DocsWebSite pages App***************************************************
Outputs:
  DocsWebSiteBucket:
    Value: !Ref DocsWebSiteBucket
    Description: Name of the s3 landing pages bucket
  DocsWebSiteEndpoint:
    Value: !GetAtt DocsWebSiteBucket.WebsiteURL
    Description: The S3 website endpoint URL for Cloudflare DNS configuration
